<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Brasileirão 2025</title>

        <link rel="stylesheet" href="/static/css/index.css"> <!-- Link para o arquivo CSS -->

        <script src="/static/js/index.js" defer></script>
        <!-- Link para o arquivo JavaScript -->

    </head>
    <body>
        <!-- Cabeçario -->
        <header>
            <img src="../static/img/logo.png" alt="Logotipo do site"><h1>Campeonato Brasileiro</h1>
            <!-- Início do menu -->
            <nav>
                <ul>
                    <li><a href="index.html">Início</a></li>
                    <li><a href="classificacao.html">Classificação</a></li>
                    <li><a href="#">Jogos</a></li>
                    <li><a href="#">Notícias</a></li>
                </ul>
            </nav>
            <!-- Fim do menu -->
        </header>
        
        <!--Conteudo principal -->
        <main>
            <section>
                <h2>Bem-vindo ao Brasileirão</h2>
                <p>Acompanhe resultado, Classificação e notícias do Campeonato Brasileiro de 2025</p>
            </section>
        </main>

        <!-- Rodapé -->
        <footer>
            <p>&copy; 2025 - site do Brasileirão. Todos os direitos reservados.</p>
    </body>
</html>