<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link rel="stylesheet" href="/static/css/index.css"> <!-- Link para o arquivo CSS -->

        <script src="/static/js/index.js" defer></script>
        <!-- Link para o arquivo JavaScript -->

    </head>
    <body>
        <!-- Conteúdo da página -->
        <header>
            <img src="../static/img/logo.png" alt="Logotipo do site"><h1>Meu Site</h1>
            <!-- Início do menu -->
            <nav>
                <ul>
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Contato</a></li>
                    <li><a href="#">Serviços</a></li>
                </ul>
            </nav>
            <!-- Fim do menu -->
        </header>
        <main>
            <section>
                <h2>Bem-vindo ao Meu Site</h2>
                <p>Este é um exemplo de página HTML com links para arquivos CSS e JavaScript.</p>
            </section>
        </main>
        <footer>
            <p>&copy; 2025 Meu Site. Todos os direitos reservados.</p>
    </body>
</html>